.dropdownContainer {
    background: linear-gradient(135deg, #000000, #310029);
    color: #615d5d;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dropdown {
    background: linear-gradient(135deg, #5e004d, #6f084c);
    color: #bfe179;
    border: 0;
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .dropdown:hover {
    background-color: #044d08;
    color: #d0f0b0;
    transform: translateY(-2px); 
  }
  
  .dropdown option {
    color: #e9efef;
    background: #033106;
    padding: 8px 12px;
    border-radius: 3px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .dropdown option:hover, .dropdown option:focus, .dropdown option:active {
    background-color: #bc1bbe;
    color: #2b2d2f;
  }
  
  .dropdown option:checked {
    background-color: #28a745;
    color: #fff;
  }
  